<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>login.index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registration</servlet-name>
        <servlet-class>login.registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>content</servlet-name>
        <servlet-class>login.content</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cart</servlet-name>
        <servlet-class>login.cart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>orderhistory</servlet-name>
        <servlet-class>login.orderhistory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkUserAvailability</servlet-name>
        <servlet-class>login.checkUserAvailability</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserBean</servlet-name>
        <servlet-class>login.UserBean</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>otherViewRedirect</servlet-name>
        <servlet-class>login.otherViewRedirect</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registration</servlet-name>
        <url-pattern>/registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>content</servlet-name>
        <url-pattern>/content</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cart</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>orderhistory</servlet-name>
        <url-pattern>/orderhistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkUserAvailability</servlet-name>
        <url-pattern>/checkUserAvailability</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserBean</servlet-name>
        <url-pattern>/UserBean</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>otherViewRedirect</servlet-name>
        <url-pattern>/otherViewRedirect</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/myErrorPage.html</location>
    </error-page>
    <welcome-file-list>
        <welcome-file>index</welcome-file>
        <welcome-file>someOtherFile.html</welcome-file>
    </welcome-file-list>
</web-app>
